.page {
  display: flex;
  justify-content: center; /* 가로 축 가운데 정렬 */
  align-items: center; /* 세로 축 가운데 정렬 */
}
.statebar {
  position: absolute;
  display: flex;
  width: 193px;
  height: 15px;
  top: 90px;
  border-radius: 10px;
  background-color: rgba(171, 171, 171, 0.5);
}

.statebar_inner {
  height: 15px;
  border-radius: 10px;
  background: rgba(162, 192, 138, 1);
  transition: width 0.3s ease;
}

/* 입력창의 상태에 따라 상태바의 너비를 설정 */
input.input:not(:placeholder-shown) + .statebar .statebar_inner {
  width: 50px; /* 입력이 되면 50%까지 채워짐 */
}

input.input:not(:placeholder-shown) ~ .sign .statebar .statebar_inner {
  width: 100px; /* 입력이 모두 되면 100%로 채워짐 */
}


  .titleWrap_login{
  position:absolute;
  top:180px;
  font-family: "MBC1961gulim";
  font-size: 48px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: rgba(162, 192, 138, 1);
  
  }
  .signFlex{
  text-align: left;
  }
  
  .id{
  margin-top: 260px;
  
  }
  
  .inputTitle{
  font-family: "Pretendard";
  display: flex;
  margin-left: 0.3em;
  margin-bottom: 0.5em;
  font-size: 19px;
  line-height: 24px;
  font-weight: 800;
  color: rgba(92, 92, 92, 1);
  }
  
  .inputWrap{
  margin: 0 auto;
  width: 305px;
  height: 50px;
  display: flex;
  border-radius: 18px;
  margin-top: 8px;
  margin-bottom: 10px;
  background-color: white;
  border: 2.5px solid rgba(91, 142, 49, 1);
  }
  
  .input{
  width: 100%;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 400;
  background-color:transparent;
  text-indent: 0.5em
  }
  
  input::placeholder {
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 700;
  color: rgba(217, 217, 217, 1);
  text-indent: 0.5em
  }
  
  .bottomButton{
  font-family: "Pretendard";
  width: 310px;
  height: 66px;
  border-radius: 10px;
  
  font-weight: 800;
  font-size: 24px;
  line-height: 20px;
  border: none;
  background-color: rgba(162, 192, 138, 1);
  color: rgba(92, 92, 92, 1);
  
  margin: 0 auto;
  margin-top: 30px;
  display:block;
  
  }
  
  .Search{
  font-family: "Pretendard";
  display: flex;
  margin-top: 1em;
  }
  
  .idSearch{
  font-size: 16px;
  box-sizing: border-box;
  font-weight: 800;
  color: rgba(217, 217, 217, 1);
  }
  
  .bar{
  font-size: 16px;
  margin-left: 0.5em;
  box-sizing: border-box;
  font-weight: 800;
  color: rgba(217, 217, 217, 1);
  }
  
  .pwSearch{
  font-size: 16px;
  margin-left: 0.5em;
  box-sizing: border-box;
  font-weight: 800;
  color: rgba(217, 217, 217, 1);
  }
  
  .SignUp{
  margin-left: 3em;
  font-size: 20px;
  box-sizing: border-box;
  font-weight: 800;
  color: rgba(91, 142, 49, 1);
  
  }

  .errorMessage{
    position: absolute;
    top:450px;
    font-family: "Pretendard";
    color: red;
    margin-left:5px;
  }

  @media (min-width: 1024px) {
    .page {
      display: flex;
      justify-content: center; /* 가로 축 가운데 정렬 */
      align-items: center; /* 세로 축 가운데 정렬 */
    }

    .statebar{
      width: 915px;
      height: 15px;
      top: 72px;
      border-radius: 10px;
      }
    
    .titleWrap_login{
      width: 157px;
      height: 20px;
      top: 154px;
    
    }
    .signFlex{
      text-align: left;
    }
    
    .id{
      margin-top: 20em;
    
    }
    
    .inputTitle{
      width: 125px;
      height: 43px;
      margin-right: 9em;
      
      font-size: 36px;
      font-weight: 800;
      line-height: 43px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 0.2em;        
    }

    .inputWrap{
      width: 440px;
      height: 50px;
      top: 394px;
      border: 1.5px;
      background-color: white;
      border: 2.5px solid rgba(91, 142, 49, 1);
      margin-bottom: 2.5em;        
      }
    
    .input{
      width: 100%;
      outline: none;
      border: none;
      font-size: 20px;
      font-weight: 400;
      background-color:transparent;
    }
    
    input::placeholder {
      font-family: "Pretendard";
      font-size: 20px;
      font-weight: 700;
      color: rgba(217, 217, 217, 1);
      text-indent: 0.5em
    }
    
    .bottomButton{
      font-family: "Pretendard";
      width: 445px;
      height: 66px;
      border-radius: 10px;
      
      font-weight: 800;
      font-size: 36px;
      line-height: 20px;
      border: none;
      background-color: rgba(162, 192, 138, 1);
      color: rgba(92, 92, 92, 1);
      
      margin-top: 2em;
      display:block;
    }
    
    .Search{
      font-family: "Pretendard";
      display: flex;
      margin-top: 1em;
    }
    
    .idSearch{
      font-size: 16px;
      margin-left: 0.5em;
      box-sizing: border-box;
      font-weight: 800;
      color: rgba(217, 217, 217, 1);
    }
    
    .bar{
      font-size: 16px;
      margin-left: 0.5em;
      box-sizing: border-box;
      font-weight: 800;
      color: rgba(217, 217, 217, 1);
    }
    
    .pwSearch{
      font-size: 16px;
      margin-left: 0.5em;
      box-sizing: border-box;
      font-weight: 800;
      color: rgba(217, 217, 217, 1);
    }
    
    .SignUp{
      margin-left: 9.8em;
      font-size: 20px;
      box-sizing: border-box;
      font-weight: 800;
      color: rgba(91, 142, 49, 1);
    
    }

    .errorMessage{
      position: absolute;
      top:590px;
      font-family: "Pretendard";
      margin-left:5px;
      margin-bottom: 10px;
      font-size: 20px;
      
    }
  }