
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


/* 반응형 웹 */
/* 모니터 기준 */

.screen_pass {
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

  }

  /* 상태 바 */
    .state_bar_pass {
      /* 부모 기준 위치 */
        margin-top: 6vh;
        margin-bottom: 3vh;
        margin-left: auto;
        margin-right: auto;
        
        border-radius: 10px;  
        /* width: 193; */
        width: 60vw;
        height: 15px; 
        display: flex;
        background: rgba(171, 171, 171, 0.5);
    
    }

    /* 내부 연두색 진행창 */
  .state_bar_inner_pass {
    
    border-radius: 10px;
    background: rgba(162, 192, 138, 1);
    height: 15px;
    width: 20vw;
  }

  /* 비밀번호 찾기 */
  .pass_find {
    margin : 0px 0px;
    width: 100vw;
    height: 100px;
    color: rgba(92, 92, 92, 1);
    /* Pretendard :  글꼴 웹폰트 적용 방법 */
    font-family: Pretendard;
    align-items: left;
  
    font-family: Pretendard;
    font-size:32px;
    font-weight: 800;
    line-height: 100px;
    letter-spacing: 0px;
    text-align: center;
    
  }


/* 아이디 바디 */
  .body_id_pass{
    width: 350px;
    height: 200px;

    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

  }
  
  /* 아이디 */
  .id_pass{
    box-sizing: border-box;
    width : 100%;
    padding-right: 80%;


    color: rgba(92, 92, 92, 1);
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0px;
    /* text-align: center; */
    

    

    margin: 0px 0px 0px 0px;
    /* padding-right: 60%; */

  }
  
  /* 타이머 */
  .timer {
    position:absolute;

    right: 30%;
    padding-top: 20px;
    color: rgba(255, 0, 0, 1);

    font-family: Pretendard;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
      
  }

/* 인증, 완료 */
  .btn_all_pass {
    color: rgba(142, 139, 139, 1);
    background-color: rgba(162, 192, 138, 1);
    width: 70px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

    margin: 5px 10px;
  }




  /* 제일 밑 완료 */
  #btn_success_pass{

    width: 335px;
    height: 75px;
    margin-top: 30px;
    
    gap: 8px;
    background: rgba(162, 192, 138, 1);

    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    

  }

  /* 아이디 input */
  .id_input_pass {
    border: 2px solid rgba(91, 142, 49, 1);
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 800;
    /* line-height: 20px; */
    /* letter-spacing: 0px; */
    text-align: center;
    border-radius: 20px;


  }


  
  /* 아이디, 인증 */
  .input_section1_pass{
    width: 100%;
    margin-top:20px;
    display: flex;
    justify-content: center;
    
  }


  /* 비빌번호 영역------- */

  .body_pass_pass{
    width:100vw;
    height: 300px;
    background-color: aqua;
  }




  /* .FindingID .Modal */
  /* /* 아이디 인증이 완료되었습니다! */
  #modal_success_pass {
    /* position: absolute; */
    box-sizing: border-box;
    margin-top : 20px;
    
    width: 355px;
    height: 39px;
    padding: 8px 21px 7px 20px;
    border-radius: 20px;

    background: rgba(237, 241, 213, 1);

  
    font-family: Pretendard;
    /* font-size: */
    font-weight: 800;
    
    letter-spacing: 0em;
    text-align: center;
    font-size: 20px;
    
    
    

  }



/*--------------- 반응형 웹 ------------------------ */
@media (min-width: 1024px) {
  .screen_pass{
    background-color: #c0eeff;
  }
/* 비밀번호 찾기 */
  .pass_find{
    font-size: 52px;
  }

  /*  아이디, 인풋, 인증 아이디부분 전체*/
  .body_id_pass{
    width:440px;
    height: 145px;
    margin-top:40px;
  }

  /* 아이디 */
  .id_pass{
    box-sizing: border-box;
    font-size: 36px;
    padding-right: 75%;
  }

  /* 아이디 입력란, 인증 */
  .input_section1_pass{
    
  }

  /* 아이디 입력란 */
  .id_input_pass{
    box-sizing: border-box;
    width:354px;
    height: 50px;
    
    margin: 0px 0px;

  }
  
  /* 인증버튼 */
  .btn_all_pass{
    margin: 0px 5px;

  }

  /* 아이디 인증이 완료되었습니다! */
  #modal_success_pass{
    width: 440px;
    height: 39px;
    width: 440px;
    margin-bottom: 20px;

  }
  
  /* 버튼 전체 : 인증, 완료 */
  .btn_all_pass{
    
  }

  /* 비빌번호 영역------- */

  .body_pass_pass{
    width:100vw;
    height: 900px;
    background-color: aqua;
  }



  /* 완료 */
  #btn_success_pass{
    box-sizing: border-box;
    width: 440px;
    height: 90px;
  }
}

