
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


/* 반응형 웹 */
/* 모니터 기준 */

	.screen {
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    text-align: center;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100vw;
    height: 92vh;

  }

  /* 상태 바 */
    .state_bar {
      /* 부모 기준 위치 */
        margin-top: 30px;
        margin-bottom: 3vh;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;  
        width: 193px; 
        height: 15px; 
        display: flex;
        background: rgba(171, 171, 171, 0.5);
    
    }

    
  .state_bar_inner {
    
    
    border-radius: 10px;
    background: rgba(162, 192, 138, 1);
    height: 15px;
    width: 25vw;
  }

  /* 아이디찾기 */
  .id_find {
    margin : 0px 0px;
    margin-bottom: 35px;
    width: 100vw;
    height: 100px;
    color: rgba(92, 92, 92, 1);
    /* Pretendard :  글꼴 웹폰트 적용 방법 */
    font-family: Pretendard;
    align-items: left;
    

    font-family: Pretendard;
    font-size:32px;
    font-weight: 800;
    line-height: 100px;
    letter-spacing: 0px;
    text-align: center;
    
  }

  /* 아이디 찾기 바디 */
  .body{

    width: 350px;
    height: 170px;

    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;


  }
  
  /* 휴대폰 번호 */
  .phone_number_name{
    color: rgba(92, 92, 92, 1);
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    padding-right: 60%;

    

    margin: 0px 0px 0px 0px;

  }
  
  /* 타이머 */
  .timer_id {
    position:absolute;    
    top: 20px;
    right: 130px;
    color: rgba(255, 0, 0, 1);

    font-family: Pretendard;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
      
  }


  .btn_all {
    color: rgba(142, 139, 139, 1);
    background-color: rgba(162, 192, 138, 1);
    width: 73px;
    height: 50px;
    white-space: nowrap;
    border-radius: 15px;
    border: 0px;
    font-family: Pretendard;
    font-size: 20px;

    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

    margin: 5px 10px;
  }
/* 인증, 완료 성공 버튼 */
  .btn_all_yes{
    color: black;
    background-color: rgba(162, 192, 138, 1);
    width: 73px;
    height: 50px;
    white-space: nowrap;
    border-radius: 15px;
    border: 0px;
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

    margin: 5px 10px;
    
  }

  
  /* 제일 밑 완료 */
  .btn_success{
    box-sizing: border-box;
    width: 335px;
    /* height: 75px; */
    min-height: 75px;
    height: 75px;

    margin-top: 25vh;
    margin-bottom: 20px;


    gap: 8px;
    border-radius: 10px;
    border: 0px;
    background: rgba(162, 192, 138, 1);
    color: rgba(142, 139, 139, 1);

    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    

  }

    /* 제일 밑 완료 클리어*/
    .btn_success_yes{
      box-sizing: border-box;
      width: 335px;
      height: 75px;
      min-height: 75px;

      margin-top: 25vh;
      margin-bottom: 20px;

  
      gap: 8px;
      border-radius: 10px;
      border: 0px;
      background-color: #5B8E31;
      color: black;
  
      font-family: Inter;
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0em;
      text-align: center;
    }




  .input_all {
    box-sizing: border-box;
    margin: 5px 0px;
    border: 2px solid rgba(91, 142, 49, 1);
    border-radius: 15px;
    width: 250px;
    height: 50px;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 800;
    /* line-height: 20px; */
    /* letter-spacing: 0px; */
    /* text-align: center; */
    /* border-radius: 20px; */
    color: black;
    padding-left: 10px;
    
  }




  
  /* 휴대번호 적는 섹션 */
  .input_section1{
    box-sizing: border-box;
    margin-top: 25px;

    width:100%;
    display: flex;
    justify-content: center;
    
  }

  /* 인증번호 적는 섹션 */
  .input_section2{
    position: relative;
    box-sizing: border-box;
    margin-top: 5px;
    width:100%;
    display: flex;
    justify-content: center;
  }



  /* .FindingID .Modal */
  /* /*  해당 번호로 인증번호가 전송되었습니다! */
  #modal_success {
    box-sizing: border-box;
    margin-top : 10px;
    margin-bottom: 20px;

    width: 350px;
    height: auto;
    padding: 8px 21px 7px 20px;
    border-radius: 20px;

    background: rgba(237, 241, 213, 1);

  
    font-family: Pretendard;
    /* font-size: */
    font-weight: 800;
    
    letter-spacing: 0em;
    text-align: center;


  }




  /* 반응형 웹 */
@media (min-width: 1024px) {


  /* 아이디찾기 */
  .id_find {
    font-size: 52px;

    
  }

  /* 아이디 찾기 바디 */
  .body{

    width: 450px;
    height: 400px;
    margin-top:40px;

  

  }
  
  /* 휴대폰 번호 */
  .phone_number_name{
    box-sizing: border-box;
    font-size: 36px;
    padding-right:50%;
  }
  

  

  /* input 박스 전체 */
  .input_all {
    width: 350px;

  }

  .btn_all {
    width:80px;
    height:50px;
    font-size:22px;
    white-space: nowrap;
  }
/* 인증, 완료 성공 버튼 */
  .btn_all_yes{
    width:80px;
    height:50px;
    font-size:22px;
    white-space: nowrap;
    
  }



  
  /* 제일 밑 완료 */
  .btn_success{

    box-sizing: border-box;
    width: 440px;
    height: 66px;
    min-height: 66px;
    font-family: 'Pretendard';
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;

    margin-top: 200px;
    margin-bottom: 40px;

  }
  

  .btn_success_yes{
    box-sizing: border-box;

    width: 440px;
    height: 66px;
    min-height: 66px;
    font-family: 'Pretendard';
    font-size: 36px;
    font-weight: 700;


    letter-spacing: 0em;
    text-align: center;
    background-color: #5B8E31;
    color: black;
  }


  /* 상태 바 1024이상일때*/
  .state_bar {
    /* 부모 기준 위치 */
      width: 915px; 
      
  }



  /* .FindingID .Modal */
  /* /*  해당 번호로 인증번호가 전송되었습니다! */
  #modal_success {
    
    width: 440px;
    height: auto;
    /* //styleName: Pretendard-20; */
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;


  }





}