.sort{
  position: absolute;
  left:50%;
  transform: translate(-48%, -50%);
  margin:0 auto;
  top:180px;
  display: grid; 
  grid-template-columns : 90px  90px 90px 66px 30px;
  @media screen and (min-width: 1024px){
    transform: translate(-50%, -50%);
    top : 300px;
    grid-template-columns : 98px 98px 98px 502px 30px;
    grid-gap : 20px;
  }
}
.sort1{
  position: absolute;
  left:50%;
  transform: translate(-48%, -50%);
  margin:0 auto;
  top:115px;
  display: grid; 
  grid-template-columns : 87px  87px  130px 40px;
  @media screen and (min-width: 1024px){
    transform: translate(-50%, -50%);
    top : 300px;
    grid-template-columns : 98px 98px 620px 30px;
    grid-gap : 20px;
  }
}

.main1{
  position: absolute;
  left:50%;
  transform: translate( -71%,0);
  top : 140px;
  @media screen and (min-width: 1024px){
    top : 340px;
    transform: translate( -68%,0);
  }
}
.main_detail{
  display: grid;
  place-items: center;
  position: absolute;
  left:50%;
  transform: translate( -50%);
  @media screen and (min-width: 1024px){
    margin-top:60px;
    }
}
.main_alarm{
  display: grid;
  place-items: center;
  position: absolute;
  left:50%;
  transform: translate( -50%,-30%);
  @media screen and (min-width: 1024px){
    margin-top:60px;
    }
}
.recruit{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 53px 200px;
  margin-left: 7%;
  @media screen and (min-width: 1024px){
  margin-left: 0%;
  display: grid;
  grid-template-columns: 54px 600px;
  }
}
.sort_1{
  width:98px;
  display: grid;
  grid-template-columns: 62px 20px;
  @media screen and (min-width: 1024px){
    grid-template-columns: 73px 25px;

    }
}
.footer_1{
  font-weight: 550;
  font-size: 15px;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1024px){
  font-size:18px;
  }
}
.img_detail{
  width: 22px;
  height: 22px;
  @media screen and (min-width: 1024px){
    width: 30px;
    height:30px;
    }
}
.img_detail_1{
  cursor: pointer;
  padding-left: 30px;
  @media screen and (min-width: 1024px){
    width: 30px;
    padding-left: 50px;
    }  
}
.img_detail2{
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  padding-right: 30px;

  color:#5B8E31;
  @media screen and (min-width: 1024px){
    font-size: 32px;
    padding-left: 50px;

    }  
}
.top_grid{
  margin-top: 67px;
  display: grid;
  grid-template-columns: 50px 270px 80px;
    @media screen and (min-width: 1024px){
      grid-template-columns: 150px 800px 150px;
    } 
}
.img_alarm{
  width:30px;
  height: 30px;
  margin: 0px 40px 30px 60px;
  padding-right: 30px;
  cursor: pointer;
  @media screen and (min-width: 1024px){
    margin: 0px 40px 30px 60px;
    margin-left: 350px;
    width: 50px;
    height: 50px;
    padding-bottom: 50px;

    }  
}
.margin{
  @media screen and (min-width: 1024px){
    height: 150px;   
  }
}
.margin1{

  height: 210px;
  @media screen and (min-width: 1024px){
    height: 190px;   
  }  
}
.x{
  padding-top: 8px;
  padding-left : 5px;
  width:18px;
  @media screen and (min-width: 1024px){
    width: 25px;
    padding-top: 10px;
    padding-left : 560px;
  }  
}
.pencil{
  width: 30px;
  padding-left:5px;
  cursor:pointer;
  @media screen and (min-width: 1024px){
  width:45px;
  padding-left: 40px;
  }
}

.confirm{
  display: none;
  position: absolute;
  left:50%;
  transform: translate(-49%, -50%);
  margin:0 auto;
  top:300px;
  width : 355px;
  height:250px;
  background-color: #EDF1D5;
  border-radius: 20px;
  z-index: 1;
  box-sizing: border-box;
  @media screen and (min-width: 1024px){
  width:500px;
  top:500px;

  }
}
.confirm_text{
  font-size: 24px;
  font-weight: 800;
  display: flex; 
  justify-content: center;
  padding-top: 70px;
}
.corfirm_grid{
  display: grid;
  grid-template-columns: 120px 45px 120px;
  padding-left: 35px;
  padding-top: 30px;
  @media screen and (min-width: 1024px){
    padding-left: 105px;

    }
}
.corfirm_box1{
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: #5B8E31;
  font-size: 24px;
  font-weight: 800; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  cursor: pointer; 
}
.corfirm_box2{
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: #A2C08A;
  font-size: 24px;
  font-weight: 800;
  display: flex; 
  justify-content: center; 
  align-items: center;
  cursor: pointer;
}

.recruiting{
  box-sizing: border-box;
  border-radius: 10px;
  border : solid #D9D9D9 1px;
  width : 275px;
  height : 30px;
  font-size: 15px;
  font-weight: 400;
  padding-top : 5px;
  padding-left : 25px;
  background-color: #EDF1D5;
  cursor : pointer;
  overflow-x: auto;
  white-space: nowrap; 
  @media screen and (min-width: 1024px) {
    width : 840px;
    height : 40px;
    padding-left : 30px;
    padding-top : 7px;
    font-size: 18px;
  }
}
.title{
  
  box-sizing: border-box;
  border-radius: 10px;
  border : solid #D9D9D9 1px;
  width : 67px;
  height : 31px;
  font-size: 16px;
  font-weight: 400;
  padding-top : 5px;
  padding-left :11px;
  background-color: #5B8E31;
  color : white;
  cursor : pointer;
  z-index:1;
  @media screen and (min-width: 1024px) {
    height : 40px;
    padding-top : 7px;
    font-size: 17px;
    padding-left:10px;
  }
}
.error{
  width:300px;
  position: absolute;
  left:50%;
  transform: translate( -50%,0);
  top : 50px;
  @media screen and (min-width: 1024px){
    width:800px;
    top : 100px;
    transform: translate( -33%,0);
  } 
}
.error_svg{
  margin-left:128px;
  margin-top: 60px;
  margin-bottom: 60px;
  width:36px;
  height: 162px;
  @media screen and (min-width: 1024px){
    margin-left:250px;
    margin-top: 120px;
    margin-bottom: 120px;
    width:45px;
    height: 184px;
    top : 100px;
    transform: translate( -50%,0);
  }
}
.error_text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom:30px;
  @media screen and (min-width: 1024px){
    font-size: 36px;
    top : 100px;
  }
}
.error_text1{
  font-size: 20px;
  font-weight: 600;
  @media screen and (min-width: 1024px){
    top : 100px;
    font-size: 24px;
    transform: translate( -68%,0);
  }
}
.error_text2{
  font-size: 20px;
  font-weight: 600;
  margin-bottom:30px;
  @media screen and (min-width: 1024px){
    font-size: 32px;
    top : 100px;
  }
}

.main_div{
  @media screen and (min-width: 1024px){
  height: 500px;
  }
}