.main{
  position: absolute;
  top : 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin:0 auto;
  @media screen and (min-width: 1024px){
    top : 500px;
  }
}
.main1{
  position: absolute;
  left: 48%;
  top : 450px;
  transform: translate(-50%, -50%);
  margin:0 auto;
  @media screen and (min-width: 1024px){
    top : 550px;
  }
}
.sub{
  margin:0 auto;
  @media screen and (min-width: 1024px){
    }
}
.top_bar{
  position: fixed;
  width : 193px;
  height : 15px;
  border-radius: 15px;
  background-color: #ABABAB80;
  top : 83px;
  left : 99px;
}

.search{
  cursor: pointer;
  display: block;
  padding-top: 6px;
  z-index: 2;
  width: 20px;
  @media screen and (min-width: 1024px){
    padding-top: 5px;
    width: 28px;
    }
}
.search_input{
  width: 320px;
  height: 31px;
  position: fixed;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 30px;
  display: none;
  border-radius: 10px;
  border: solid 1px #5B8E31;
  font-size: 17px;  
  @media screen and (min-width: 1024px){
    width: 890px;
    height: 40px;
    z-index: 2;
    }
}

.footer div{
  cursor: pointer;
}

.sub_div2{
  padding-top: 10px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  font-size: 12px;
  font-weight: 800;
}
.phone_number{
  display: grid;
  grid-template-columns: 250px 0px 70px;
  grid-gap: 10px;
  margin-top : 15px;
  margin-left:auto;
  margin-right:auto;
  
  @media screen and (min-width: 1024px){
  width: 440px;
  display: grid;
  grid-template-columns: 350px 0px 70px;
  grid-gap: 20px;
  }
}
.date{
  display: grid;
  grid-template-columns: 96px 23px 65px 23px 65px 23px;
  grid-gap: 10px;
  margin-top: 15px !important;
  @media screen and (min-width: 1024px){
  display: grid;
  grid-template-columns: 140px 34px 77px 34px 77px 34px;
  grid-gap: 10px;
  margin-left:26%;
  }
}
.name{
  display:flex;
  position: relative;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

}
.web_text{
  margin-top: 50px;
}
.text{
  color:#5C5C5C;
  font-size: 20px;
  font-weight: 550;
  padding-top : 10px;
  @media screen and (min-width: 1024px) {
    font-weight : 800;
    font-size : 36px;
    padding-top: 0px;
  } 
}
.button{
  box-sizing: border-box;
  background-color: #A2C08A;
  border-radius: 10px;
  gap: 8px;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  width: 335px;
  height:75px;
  border-color: white;
  @media screen and (min-width: 1024px) {
    width : 440px;
  }
}
.input_1{
  width :335px;
  box-sizing: border-box;
  border-radius: 15px;
  border : solid #5B8E31 2px;
  height : 50px;
  font-size: 24px;
  padding-left: 10px;
  font-weight: 600;
  ::placeholder {
    font-family: "Pretendard";
    color: #D9D9D9;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
  }    
  @media screen and (min-width: 1024px) {
    width : 440px;
  }
}
.input_2{
  width :96px;
  box-sizing: border-box;
  border-radius: 15px;
  border : solid #5B8E31 2px;
  height : 50px;
  font-size: 24px;
  padding-left: 10px;
  font-weight: 600;
  ::placeholder {
    font-family: "Pretendard";
    color: #D9D9D9;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
  }    
  @media screen and (min-width: 1024px) {
    width : 140px;
  }
}
.input_3{
  width :65px;
  box-sizing: border-box;
  border-radius: 15px;
  border : solid #5B8E31 2px;
  height : 50px;
  font-size: 24px;
  padding-left: 10px;
  font-weight: 600;
  ::placeholder {
    font-family: "Pretendard";
    color: #D9D9D9;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
  }    
  @media screen and (min-width: 1024px) {
    width :77px;
  }
}
.input_4{
  width :250px;
  box-sizing: border-box;
  border-radius: 15px;
  border : solid #5B8E31 2px;
  height : 50px;
  font-size: 24px;
  padding-left: 10px;
  font-weight: 600;
  ::placeholder {
    font-family: "Pretendard";
    color: #D9D9D9;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
  }    
  @media screen and (min-width: 1024px) {
    width : 350px;
  }
}