.Mparent {
  display: flex;
  justify-content: center; /* 가로 축 가운데 정렬 */
  align-items: center; /* 세로 축 가운데 정렬 */
}

.Mbars{
  position: absolute;
  width: 35px;
  height: 30px;
  margin-top: 60px;
  margin-left: 257px;
  z-index: 1;
  cursor : pointer;
}

.Mbars.active{
  display: none;
}

.Mnav-menu {
  position: absolute;
  top: 0;
  width: 196px;
  height: 800px;
  right: 0px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  /*opacity 속성에 0으로 시작하고 1로 변화될 때 애니메이션 적용 */
  opacity: 0;
  /* 추가: transform으로 요소를 오른쪽에서 이동시킴 */
  transform: translateX(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 1;
}


  .Mnav-menu.active {
    position: absolute;
    /* 추가: opacity 속성이 1로 변화될 때 애니메이션 적용 */
    opacity: 1;
    /* 추가: transform으로 요소가 원래 위치로 이동 */
    transform: translateX(0);
  z-index: 1;
}

.Mclose{
  position: relative;
  top:20px;
  left:115px;
  width: 30px;
  height: 25px;
  z-index: 1;
}

.Mtop{
  font-family: 'Pretendard';
  font-size: 30px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(92, 92, 92, 1);
  list-style: none;
  margin-left:0;
  margin-right:0;
}

.MtopHome{
  position: absolute;
  width: 120px;
  height: 20px;
  margin-top: 143px;
  margin-left: 39px;
}

.MtopLogin {
  position: absolute;
  width: 90px;
  height: 20px;
  margin-top: 213px;
  right:50px;
}

.MtopMyInfo{
  position: absolute;
  width: 90px;
  height: 20px;
  margin-top: 283px;
  right:50px;
}

.MtopBarHome{
  position: absolute;
  width: 120px;
  margin-top: 176px;
  right:35px;
  border: 1.5px solid rgba(162, 192, 138, 1)
  
}

.MtopBarLogin{
  position: absolute;
  width: 120px;
  margin-top: 246px;
  right:35px;
  border: 1.5px solid rgba(162, 192, 138, 1)
}

.MtopBarMyInfo{
  position: absolute;
  width: 120px;
  margin-top: 316px;
  right:35px;
  border: 1.5px solid rgba(162, 192, 138, 1)
}

@media (min-width: 1024px) {

  .Mbars{
    width: 45px;
    height: 35px;
    margin-top: 290.5px;
    margin-left: 965px;
    z-index: 1;
}
  
  .Mbars.active{
    display: none;
  }
  
  .Mnav-menu{
    position:absolute;
    top:0;
    width: 720px;
    height: 1000px;
    right: 0px;
    border-radius: 20px 0px 0px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
  }
  
 
  
  .Mclose{
    width: 40px;
    height: 30px;
    top: 130px;
    left: 535px;
  }

  .MtopHome{
    width: 104px;
    height: 20px;
    margin-top: 250px;
    right:425px;
  }
  
  .MtopLogin {
    width: 104px;
    height: 20px;
    margin-top: 350px;
    right:425px;
  }
  
  .MtopMyInfo{
    width: 70px;
    height: 20px;
    margin-top: 450px;
    right:440px;
  }
  
  .MtopBarHome{
    width: 150px;
    margin-top: 290px;
    right:400px;
    border: 2px solid rgba(162, 192, 138, 1)
  }
  
  .MtopBarLogin{
    width: 150px;
    margin-top: 390px;
    right:400px;
    border: 2px solid rgba(162, 192, 138, 1)
  }
  
  .MtopBarMyInfo{
    width: 150px;
    margin-top: 490px;
    right:400px;
    border: 2px solid rgba(162, 192, 138, 1)
  }
}