.Mparent {
  display: flex;
  justify-content: center; /* 가로 축 가운데 정렬 */
  align-items: center; /* 세로 축 가운데 정렬 */
}

.Mbars{
  position: absolute;
  width: 30px;
  height: 25px;
  margin-top: 160px;
  margin-left: 262px;
  z-index: 1;
}

.Mbars.active{
  display: none;
}

.Mnav-menu{
  position:absolute;
  top:0;
  width: 196px;
  height: 844px;
  right: 0px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  transition: 850ms;
  z-index: 1;
}

.Mnav-menu.active{
  position:absolute;
  display: block;
  z-index: 1;
}

.Mclose{
  position: absolute;
  width: 25px;
  height: 20px;
  margin-top: 70px;
  margin-left: 120px;
  z-index: 1;
}

.Mtop{
  font-family: Pretendard;
  font-size: 30px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(92, 92, 92, 1);
  list-style: none;
}

.MtopHome{
  position: absolute;
  width: 90px;
  height: 20px;
  margin-top: 213px;
  margin-left: 59px;
}

.MtopLogin {
  position: absolute;
  width: 90px;
  height: 20px;
  margin-top: 283px;
  margin-left: 59px;
}

.MtopMyInfo{
  position: absolute;
  width: 90px;
  height: 20px;
  margin-top: 353px;
  margin-left: 59px;

}

.MtopBarHome{
  position: absolute;
  width: 120px;
  margin-top: 246px;
  margin-left: 38px;
  border: 1px solid rgba(162, 192, 138, 1)
}

.MtopBarLogin{
  position: absolute;
  width: 120px;
  top: 316px;
  left: 38px;
  border: 1.5px solid rgba(162, 192, 138, 1)
}

.MtopBarMyInfo{
  position: absolute;
  width: 120px;
  margin-top: 386px;
  margin-left: 38px;
  border: 1.5px solid rgba(162, 192, 138, 1)
}

@media (min-width: 1024px) {

  .Mbars{
    width: 40px;
    height: 30px;
    margin-top: 290.5px;
    margin-left: 965px;
    z-index: 1;
}
  
  .Mbars.active{
    display: none;
  }
  
  .Mnav-menu{
    position:absolute;
    top:0;
    width: 720px;
    height: 100%;
    right: 0px;
    border-radius: 20px 0px 0px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    transition: 850ms;
    z-index: 1;
  }
  
  .Mnav-menu.active{
    position:absolute;
    display: block;
    z-index: 1;
  }
  
  .Mclose{
    width: 40px;
    height: 30px;
    margin-top: 129px;
    margin-left: 460px;
  }

  .MtopHome{
    width: 104px;
    height: 20px;
    margin-top: 308px;
    margin-left: 154px;

  }
  
  .MtopLogin {
    width: 104px;
    height: 20px;
    margin-top: 408px;
    margin-left: 154px;
  }
  
  .MtopMyInfo{
    width: 70px;
    height: 20px;
    margin-top: 508px;
    margin-left: 171px;
  }
  
  .MtopBarHome{
    width: 150px;
    margin-top: 348px;
    margin-left: 131px;
    border: 2px solid rgba(162, 192, 138, 1)
  }
  
  .MtopBarLogin{
    width: 150px;
    top: 448px;
    left: 131px;
    border: 2px solid rgba(162, 192, 138, 1)
  }
  
  .MtopBarMyInfo{
    width: 150px;
    margin-top: 548px;
    margin-left: 131px;
    border: 2px solid rgba(162, 192, 138, 1)
  }
}