.parent {
  display: flex;
  justify-content: center; /* 가로 축 가운데 정렬 */
  align-items: center; /* 세로 축 가운데 정렬 */
}

.back{
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: 190px;
  margin-right: 257px;
  z-index: 1;
  cursor : pointer;
  } 

.bars{
  position: absolute;
  width: 25px;
  height: 20px;
  margin-top: 190px;
  margin-left: 262px;
  z-index: 1;
  cursor : pointer;
}

.bars.active{
  display: none;
}

.topName{
  position: absolute;
  width: 130px;
  height: 20px;
  padding-top: 25vh;
  z-index: 1;

  font-family: Pretendard;
  font-size: 32px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(162, 192, 138, 1);
  cursor : pointer;
}

.nav-menu{
  position:absolute;
  top:0;
  width: 196px;
  height: 844px;
  right: 0px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  transition: 850ms;
  z-index: 1;
}

.nav-menu.active{
  position:absolute;
  display: block;
  z-index: 1;
}

.close{
  position: absolute;
  width: 25px;
  height: 20px;
  margin-top: 70px;
  margin-left: 120px;
  z-index: 1;
  cursor : pointer;
}

.top{
  font-family: Pretendard;
  font-size: 30px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(92, 92, 92, 1);
  list-style: none;
}

.topHome{
  position: absolute;
  width: 90px;
  height: 20px;
  margin-top: 213px;
  margin-left: 59px;
}

.topLogin {
  position: absolute;
  width: 90px;
  height: 20px;
  margin-top: 283px;
  margin-left: 59px;
}

.topMyInfo{
  position: absolute;
  width: 90px;
  height: 20px;
  margin-top: 353px;
  margin-left: 59px;

}

.topBarHome{
  position: absolute;
  width: 120px;
  margin-top: 246px;
  margin-left: 38px;
  border: 1.5px solid rgba(162, 192, 138, 1);
  cursor : pointer;
}

.topBarLogin{
  position: absolute;
  width: 120px;
  top: 316px;
  left: 38px;
  border: 1.5px solid rgba(162, 192, 138, 1);
  cursor : pointer;
}

.topBarMyInfo{
  position: absolute;
  width: 120px;
  margin-top: 386px;
  margin-left: 38px;
  border: 1.5px solid rgba(162, 192, 138, 1);
  cursor : pointer;
}

@media (min-width: 1024px) {
.parent {
  display: flex;
  justify-content: center; /* 가로 축 가운데 정렬 */
  align-items: center; /* 세로 축 가운데 정렬 */
}

.back{
  width: 40px;
  height: 30px;
  margin-top: 18em;
  margin-right: 890px;
  z-index: 1;
  cursor : pointer;
  } 
  
.bars{
  width: 40px;
  height: 30px;
  margin-top: 18em;
  margin-left: 890px;
  z-index: 1;
  cursor : pointer;
}

.bars.active{
  display: none;
}

.topName{
  width: 192px;
  height: 20px;
  margin-top: 4em;
  padding-top: 10%;
  font-size: 52px;
  line-height: 20px;
  cursor : pointer;
}


.nav-menu{
  position:absolute;
  top:0;
  width: 720px;
  height: 100%;
  right: 0px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  transition: 850ms;
  z-index: 1;
}

.nav-menu.active{
  position:absolute;
  display: block;
  z-index: 1;
}

.close{
  width: 40px;
  height: 30px;
  margin-top: 5em;
  margin-left: 24em;
  cursor : pointer;
}

.topHome{
  width: 104px;
  height: 20px;
  margin-top: 308px;
  margin-left: 154px;
  cursor : pointer;
}

.topLogin {
  width: 104px;
  height: 20px;
  margin-top: 408px;
  margin-left: 154px;
  cursor : pointer;
}

.topMyInfo{
  width: 104px;
  height: 20px;
  margin-top: 508px;
  margin-left: 154px;
  cursor : pointer;
}

.topBarHome{
  width: 150px;
  margin-top: 348px;
  margin-left: 131px;
  border: 2px solid rgba(162, 192, 138, 1);
  cursor : pointer;
}

.topBarLogin{
  width: 150px;
  top: 448px;
  left: 131px;
  border: 2px solid rgba(162, 192, 138, 1);
  cursor : pointer;
}

.topBarMyInfo{
  width: 150px;
  margin-top: 548px;
  margin-left: 131px;
  border: 2px solid rgba(162, 192, 138, 1);
  cursor : pointer;
}
}