body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.back{
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: 67px;
  margin-left: 54px;
  z-index: 1;
}

.bars{
  width: 25px;
  height: 20px;
  margin-top: 70px;
  margin-left: 314px;
  z-index: 1;
}

.bars.active{
  display: none;
}

.topName{
  position: absolute;
  width: 130px;
  height: 20px;
  top: 88px;
  left: 136px;
  z-index: 1;

  font-family: Pretendard;
  font-size: 32px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(162, 192, 138, 1);
}

.nav-menu{
  position:absolute;
  top:0;
  width: 196px;
  height: 844px;
  right: 0px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  transition: 850ms;
  z-index: 1;
}

.nav-menu.active{
  position:absolute;
  display: block;
  top:0;
  left : 194px;
  width: 196px;
  height: 844px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.close{
  position: absolute;
  width: 25px;
  height: 20px;
  margin-top: 70px;
  margin-left: 120px;
  z-index: 1;
}

.top{
  font-family: Pretendard;
  font-size: 30px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(92, 92, 92, 1);
  list-style: none;
}

.topHome{
  position: absolute;
  width: 90px;
  height: 20px;
  margin-top: 213px;
  margin-left: 59px;
}

.topLogin {
  position: absolute;
  width: 90px;
  height: 20px;
  margin-top: 283px;
  margin-left: 59px;
}

.topMyInfo{
  position: absolute;
  width: 90px;
  height: 20px;
  margin-top: 353px;
  margin-left: 59px;

}

.topBarHome{
  position: absolute;
  width: 120px;
  margin-top: 246px;
  margin-left: 38px;
  border: 1.5px solid rgba(162, 192, 138, 1)
}

.topBarLogin{
  position: absolute;
  width: 120px;
  top: 316px;
  left: 38px;
  border: 1.5px solid rgba(162, 192, 138, 1)
}

.topBarMyInfo{
  position: absolute;
  width: 120px;
  margin-top: 386px;
  margin-left: 38px;
  border: 1.5px solid rgba(162, 192, 138, 1)
}