@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.App {
  text-align: center;
}

.join__box{
  position: relative; 
  top:50px;
  left:0px;
  margin-right:auto;
  margin-left:auto;;
  @media all and (min-width: 1024px){	
    position: relative; 
    margin-right:auto;
    margin-left:auto;
    top:72px;
    left:0px;
    }
}

.id__box{
  position: relative; 
  top: 70px;
  right:130px;
  margin-right:auto;
  margin-left:auto;

  @media all and (min-width: 1024px){	
    position: relative; 
    margin-right:auto;
    margin-left:auto;
    top:175px;
    left:0px;
    }
}

.pw__box{
  position: relative; 
  top: 155px;
  right:120px;
  margin-right:auto;
  margin-left:auto;

  @media all and (min-width: 1024px){	
    position: relative; 
    margin-right:auto;
    margin-left:auto;
    top:275px;
    left:0px;
    }
}

.pwcheck__box{
  position: relative; 
  top: 235px;
  right:96px;
  margin-right:auto;
  margin-left:auto;

  @media all and (min-width: 1024px){	
    position: relative; 
    margin-right:auto;
    margin-left:auto;
    top:355px;
    left:0px;
    }
}

.findingpass__pw__box{
  position: relative; 
  top: -20px;
  right:115px;
  margin-right:auto;
  margin-left:auto;

  @media all and (min-width: 1024px){	
    position: relative; 
    margin-right:auto;
    margin-left:auto;
    top:40px;
    left:0px;
    }
}

.findingpass__pwcheck__box{
  position: relative; 
  top: 20px;
  right:90px;
  margin-right:auto;
  margin-left:auto;

  @media all and (min-width: 1024px){	
    position: relative; 
    margin-right:auto;
    margin-left:auto;
    top:80px;
    left:0px;
    }
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*데스크탑*/

/*태블릿*/
@media all and (max-width: 1023px){
}

/*모바일*/
@media all and (max-width: 390px){

}