@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.App {
  text-align: center;
}
.join__box{
  position: absolute; 
  top: 133px;
  left: 139px;
}

.id__box{
  position: absolute; 
  top: 198px;
  left: 30px;
}

.pw__box{
  position: absolute; 
  top: 373px;
  left: 30px;
}

.pwcheck__box{
  position: absolute; 
  top: 548px;
  left: 30px;
}